<div class="lg:w-2/3 mx-auto">
  <%= display_flash %>

  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">Import tasks, notes, and comments</h1>
        <p class="resource-description">Upload a JSON file to import tasks, notes, and comments into this project.</p>
      </div>
    </div>

    <div class="p-4">
      <%= form_with url: project_import_path(@project), local: true, multipart: true do |form| %>
        <div class="space-y-2">
          <%= form.label :file, class: "block text-sm font-medium text-base" %>
          <%= form.file_field :file,
            accept: 'application/json',
            class: "appearance-none file-select text-sm leading-tight file:mr-3 file:py-2 file:px-3 file:rounded-md file:border-0 file:text-sm file:font-medium w-full" %>
        </div>

        <div class="mt-6">
          <%= form.submit 'Upload file', class: "btn-base" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
