<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
  <h1 class="mb-2 font-bold text-2xl dark:text-gray-200">Import tasks</h1>

  <%= render "shared/flash" %>

  <%= form_with url: project_import_path(@project), local: true, multipart: true do |form| %>
    <div class="my-4 shadow p-4 rounded border border-gray-200 dark:border-gray-800">
      <%= form.label :file, class:"dark:text-gray-200" %>
      <%= form.file_field :file,
        accept: 'application/json',
        class: "appearance-none text-sm text-gray-700 dark:text-gray-300 leading-tight focus:outline-none focus:shadow-outline file:mr-3 file:py-2 file:px-3 file:rounded-md file:border-0 file:text-sm file:font-medium file:bg-gray-100 dark:file:bg-gray-900 file:text-gray-700 dark:file:text-gray-300 w-full file:cursor-pointer" %>
    </div>

    <div class="actions">
      <%= form.submit 'Import Tasks', class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
