<div class="md:mt-6 sm:mx-auto sm:w-full sm:max-w-lg">
  <div class="my-4 window-block">
    <div class="window-header">
      <h1 class="font-bold text-xl dark:text-gray-200">Import tasks and notes</h1>
    </div>

    <div class="p-4 text-sm">
      <% if @imported_task_count == 0 && @imported_note_count == 0 %>
        <p class="mb-6">No tasks or notes were imported.</p>
      <% else %>
        <p class="mb-6 text-green-800 dark:text-green-400 font-medium">
        Successfully imported <strong><%= @imported_task_count %></strong> tasks and
        <strong><%= @imported_note_count %></strong> notes into the project.
        </p>

        <% if @imported_tasks.present? %>
          <p class="mb-2 text-gray-500">Here are a few of the imported tasks:</p>
          <ul class="list-disc list-inside mb-6 text-gray-500">
            <% @imported_tasks.first(10).each do |task| %>
              <li class="mb-2"><%= task.name %></li>
            <% end %>
            <% if @imported_task_count > 10 %>
              <li class="mb-2">and <%= @imported_task_count - 10 %> more...</li>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <div class="flex space-x-4">
        <%= link_to 'Back to Project', @project, class: theme_button_primary %>
        <%= link_to 'Import More', new_project_import_path(@project), class: 'btn-gray' %>
      </div>
    </div>
  </div>
</div>
