<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
  <%= form_for @project, url: project_files_path(project_id: @project.id), html: { multipart: true, method: :post, class: "contents" } do |f| %>
    <%= render "shared/errors", resource: @project %>

    <div class="my-4 shadow p-4 rounded border border-gray-200 dark:border-gray-800">
      <%= f.label :project_files, class: "flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 dark:border-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-950 hover:bg-gray-100 dark:hover:bg-gray-900 mb-4" do %>
        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
        </svg>
        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span></p>
        <p class="text-xs text-gray-500">Images and documents (Max. 5MB)</p>
      <% end %>

      <%= project_file_field(f) %>

      <div class="mt-4 border-t border-gray-200 dark:border-gray-800 pt-4">
        <% if s3_storage? %>
          <div class="mb-4">
            <p class="text-sm text-gray-400 dark:text-gray-600">
            Your app is configured to use aws s3 for file storage. If there are any errors with uploading, make sure your s3 env variables are set and correct.
            </p>
          </div>
        <% end %>

        <%= f.submit "Upload Files", class: "btn-primary" %>
        <%= link_to 'Cancel', project_path(@project), class: 'btn-gray float-right' %>
      </div>
    </div>
  <% end %>
</div>
