<div class="mb-4 pb-4 border-b dark:border-gray-600">
  <%= users_tabs 'Account' %>
</div>

<%= render "shared/flash" %>

<div class="mb-5">
  <section class="">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "shared/errors", resource: resource %>

      <dl class="space-y-4">
        <div class="space-y-1">
          <%= f.label :email, class: 'font-semibold text-sm mt-2 dark:text-gray-200' %>

          <% if resource.oauth_user? %>
            <%= f.email_field :email, disabled: true, class: 'base-input w-full bg-gray-100 text-gray-500' %>
          <% else %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'base-input w-full' %>
          <% end %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <% if resource.provider.present? %>
            <p class="text-sm text-gray-700 dark:text-gray-300 mt-2 font-medium">You sign-up with <%= oauth_provider_name resource.provider %> account. You can't change your email.</p>
          <% end %>
        </div>

        <div class="pt-4 space-y-1">
          <%= f.label :password, 'New password', class: 'font-semibold text-sm mt-2 dark:text-gray-200' %>

          <p class="text-sm text-gray-500">
          <% if @minimum_password_length %>
            <%= @minimum_password_length %> characters minimum.
          <% end %>
          Leave blank if you don't want to change it.
          </p>

          <%= f.password_field :password, autocomplete: "new-password", class: 'base-input w-full' %>


          <div class="mt-2">
            <%= f.label :password_confirmation, class: 'text-sm text-gray-700 dark:text-gray-300' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'base-input w-full' %>
          </div>
        </div>

        <div class="pt-4 space-y-1">
          <%= f.label :current_password, class: "font-semibold text-sm mt-2 dark:text-gray-200" %>

          <p class="text-sm text-gray-500">We need your current password to confirm your changes</p>

          <%= f.password_field :current_password, autocomplete: "current-password", class: 'base-input w-full', required: true %>
        </div>
      </dl>

      <div class="mt-2">
        <%= f.submit "Save Changes", class: "btn-primary" %>
      </div>
    <% end %>
  </section>

  <section class="mt-10">
    <h2 class="section-title dark:text-gray-200">Delete the account</h2>
    <span class="block text-sm text-gray-700 dark:text-gray-300 mb-5">This will completely remove your account. <br/>All data will be lost.</span>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Delete account with all the data? Are you sure?", turbo_confirm: "Delete account with all the data? Are you sure?" }, method: :delete, class: "btn-remove border" %>
  </section>
</div>
