<h2 class="text-4xl font-extrabold dark:text-gray-200">Create an account</h2>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <%= render 'devise/shared/alerts' %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
    <%= render "shared/errors", resource: resource %>

    <div class="mt-2">
      <%= f.label :email, class:"dark:text-gray-200" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'block w-full base-input' %>
    </div>

    <div class="mt-2">
      <%= f.label :password, class:"dark:text-gray-200" %>

      <% if @minimum_password_length %>
        <span class="block text-sm text-gray-500"><%= @minimum_password_length %> characters minimum</span>
      <% end %>

      <%= f.password_field :password, autocomplete: "new-password", class: 'block w-full base-input' %>
    </div>

    <div class="mt-2">
      <%= f.label :password_confirmation, class:"dark:text-gray-200" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'block w-full base-input' %>
    </div>

    <div class="mt-2">
      <%= f.submit "Sign up", class: "flex w-full justify-center rounded-md bg-violet-600 px-3 py-3 text-m font-semibold leading-6 text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
