<%= turbo_frame_tag dom_id(task) do %>
  <%= content_tag :div, class: task_css(task) do %>
    <div class="flex col-span-1 items-center h-12">
      <div class="mr-3 flex">
        <%= form_with(model: task, url: toggle_done_task_path(task)) do |form| %>

          <%= form.check_box :done,
            checked: task.done,
            id: "task_#{task.id}",
            class: "w-4 h-4 checkbox",
            data: { turbo_action: "advance" },
            onchange: "this.form.requestSubmit()" %>
        <% end %>
      </div>

      <%= link_to details_project_task_path(task.project, task), data: { turbo: false }, class: "text-sm min-w-0 grow flex h-12 items-center" do %>
        <p class="font-medium line-clamp-2"><%= task.name %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
