<div class="w-full">
  <% content_for :title, "Tasks" %>

  <div class="flex justify-between items-center mb-4 pb-4 border-b dark:border-gray-600">
    <%= home_tabs "Tasks" %>
    <%= link_to schedule_path, class: "btn-gray block" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400 dark:text-gray-600">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
    <% end %>
  </div>

  <div class="mb-4 md:mb-0 md:w-2/3 mx-auto">
    <% if current_user.created_today? %>
      <p class="text-sm text-gray-500 mb-4">Active tasks from your projects. To create a new task or view completed ones, visit the project page.</p>
    <% end %>

    <section class="task-list">
      <ol class="text-sm leading-6 text-gray-500">
        <% if @tasks.any? %>
          <% @tasks.group_by_projects.each do |project, tasks| %>
            <div class="project-group mb-6">
              <div class="flex justify-between items-center">
                <h2 class="flex py-2 text-base font-semibold text-gray-900 dark:text-gray-200"><%= project.name %></h2>
                <%= link_to new_project_task_path(project), class: 'block' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-shrink-0 text-gray-400 dark:text-gray-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" />
                  </svg>
                <% end %>
              </div>

              <ol class="mt-2 text-sm leading-6 text-gray-500 grid grid-cols-1 gap-2 lg:gap-3 lg:grid-cols-2">
                <% tasks.each do |task| %>
                  <%= render 'tasks/task', task: task %>
                <% end %>
              </ol>
            </div>
          <% end %>
          <%= paginate @tasks %>
        <% else %>
          <li class="py-2 flex">
            <p class="">No tasks due this month.</p>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</div>

