<div class="w-full">
  <% content_for :title, "Tasks" %>

  <% content_for :subnav do %>
    <div class="subnav-css">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4">
        <%= home_tabs "Tasks" %>

        <div class="hidden w-auto sm:flex sm:flex-row items-center space-x-6">
          <div class="w-auto ml-auto flex items-center space-x-4">
            <div class="flex items-center -space-x-2">
              <% if params[:assigned] == 'true' %>
                <%= link_to tasks_path, title: "All tasks" do %>
                  <%= avatar_tag(current_user, "h-8 w-8 avatar-bg ring-2 ring-violet-500") %>
                <% end %>
              <% else %>
                <%= link_to tasks_path(assigned: true), title: "My tasks" do %>
                  <%= avatar_tag(current_user, "h-8 w-8 avatar-bg") %>
                <% end %>
              <% end %>
            </div>

            <%= content_tag :div, class: ui_toggle do %>
              <%= link_to "List", tasks_path, class: "#{current_page?(tasks_path) ? ui_toggle_active_tab : ui_toggle_tab}" %>
              <%= link_to "Schedule", schedule_path, class: "#{current_page?(schedule_path) ? ui_toggle_active_tab : ui_toggle_tab}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="mx-auto space-y-6">
    <% if @tasks.any? %>
      <% @tasks.group_by_projects.each do |project, tasks| %>
        <div class="resource-container">
          <div class="resource-header">
            <div class="flex items-center justify-between w-full">
              <div>
                <h3 class="text-secondary">
                  <%= link_to project.name.truncate(100), project %>
                </h3>
              </div>

              <%= link_to new_project_task_path(project), class: "block" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-shrink-0">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
              <% end %>
            </div>
          </div>

          <div>
            <ol class="text-sm leading-6 text-gray-500 grid grid-cols-1 tasks-list">
              <% tasks.each do |task| %>
                <%= render 'tasks/task', task: task %>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>

      <div class="flex justify-center">
        <%= paginate @tasks %>
      </div>
    <% else %>
      <div class="resource-container">
        <div class="resource-empty-state">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-100 dark:bg-gray-800 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 dark:text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5H7a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
            </svg>
          </div>
          <% if params[:assigned] == 'true' %>
            <h3 class="resource-empty-title">No tasks assigned to you</h3>
            <p class="resource-empty-description">You don't have any active tasks assigned to you across your projects.</p>
          <% else %>
            <h3 class="resource-empty-title">No active tasks</h3>
            <p class="resource-empty-description">You have no active tasks across your projects. Create new tasks to get started.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
