<div class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-2">
  <div>
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Application Information</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Check documentation for all supported ENV variables.</p>
    </div>

    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Application Version</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @version %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Rails environment</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @rails_env %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">File uploads storage</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @file_storage %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Application domain</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @domain %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Restrict signup to single domain
            <span class="text-sm text-gray-500 font-normal inline-block">
              For instance, only users whose email addresses end with @yourcompany.com can register.
            </span>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @allowed_domain %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Require email confirmation on sign up

            <span class="text-sm text-gray-500 font-normal inline-block">
              Ensure that email sending is configured for this application.
            </span>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @email_confirmation %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Mail delivery</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @mail_delivery %></dd>
        </div>
      </dl>
    </div>
  </div>
  <div>
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Database Information</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= ActiveRecord::Base.connection.current_database %></p>
    </div>

  <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Users</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @total_users %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Projects</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @total_projects %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">File uploads</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @total_files %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Tasks</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @total_tasks %></dd>
        </div>
        <div class="p-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Comments</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-0"><%= @total_comments %></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
