<div class="mb-4 pb-4 border-b dark:border-gray-600">
  <%= users_tabs 'Settings' %>
</div>

<%= render "shared/flash" %>

<div class="mb-5">
  <%= form_for(@user, url: users_settings_path, html: { method: :put }, data: { turbo: false }) do |f| %>
    <%= render "shared/errors", resource: @user %>

    <section class="mt-10 dark:text-gray-200">
      <h2 class="section-title">Privacy and Security</h2>

      <dl class="space-y-4">
        <div class="">
          <%= f.check_box :allow_invites, class: 'checkbox' %>
          <%= f.label :allow_invites, "Allow other users to add you to projects", class: 'ml-2 text-sm' %>
        </div>

        <%- if @user.oauth_user? %>
          <div class="">
            <%= f.check_box :disable_password, class: 'checkbox' %>
            <%= f.label :disable_password, "Disable Password Authentication", class: 'ml-2 text-sm' %>
          </div>
        <% end %>

        <div class="">
          <%= f.check_box :otp_required_for_login, class: 'checkbox' %>
          <%= f.label :otp_required_for_login, "Enable Two-Factor Authentication", class: 'ml-2 text-sm' %>
        </div>
      </dl>
    </section>

    <section class="mt-10">
      <h2 class="section-title">Appearance</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">How do you want app to handle dark mode</p>
      <div class="mt-6 space-y-6 sm:flex sm:items-center sm:space-x-10 sm:space-y-0 mb-2">
        <div class="flex items-center">
          <%= f.radio_button :dark_mode, :on, class: "h-4 w-4 radio" %>
          <%= f.label :dark_mode_on, "Light", class: "ml-3 block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200" %><br>
        </div>

        <div class="flex items-center">
          <%= f.radio_button :dark_mode, :off, class: "h-4 w-4 radio" %>
          <%= f.label :dark_mode_off, "Dark", class: "ml-3 block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200"  %><br>
        </div>

        <div class="flex items-center">
          <%= f.radio_button :dark_mode, :auto, class: "h-4 w-4 radio" %>
          <%= f.label :dark_mode_auto, "Auto", class: "ml-3 block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200"  %>
        </div>
      </div>
    </section>

    <div class="mt-5">
      <%= f.submit "Save Settings", class: "justify-center btn-primary" %>
    </div>
  <% end %>
</div>
