<div class="my-5">
  <%= link_to 'Account', edit_registration_path(current_user), class: "btn-tab" %>
  <%= link_to 'Settings', users_settings_path, class: "btn-tab-active" %>
</div>

<%= render "shared/flash" %>

<section class="mt-10">
  <h2 class="section-title">Privacy and Security</h2>
  <%= form_for(@user, url: users_settings_path, html: { method: :put }) do |f| %>
    <%= render "shared/errors", resource: @user %>

    <dl class="space-y-4">
      <div class="">
        <%= f.check_box :allow_invites %>
        <%= f.label :allow_invites, "Allow other users to add you to projects", class: 'ml-2 text-sm' %>
      </div>

      <%- if @user.oauth_user? %>
        <div class="">
          <%= f.check_box :disable_password %>
          <%= f.label :disable_password, "Disable Password Authentication (only login with Google)", class: 'ml-2 text-sm' %>
        </div>
      <% end %>

    </dl>

    <div class="mt-5">
      <%= f.submit "Save Settings", class: "justify-center btn-primary" %>
    </div>
  <% end %>
</section>
