<%= form_with(model: [@project, link], class: "contents") do |form| %>
  <%= render "shared/errors", resource: link %>

  <div class="space-y-6">
    <div>
      <%= form.label :url, "Put your URL here", class: 'block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2' %>
      <%= form.text_field :url, class: "block w-full base-input", required: true, placeholder: "https://example.com" %>
    </div>

    <div>
      <%= form.label :title, 'Give it a name or leave blank', class: 'block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2' %>
      <%= form.text_field :title, class: "block w-full base-input", placeholder: "Optional title for the link" %>
    </div>

    <div class="pt-4 border-t border-base">
      <%= form.submit class: theme_button_primary %>
    </div>
  </div>
<% end %>
