<%= form_with(model: [@project, link], class: "contents") do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-sm rounded-lg mt-3">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :url, "Put your URL here", class: 'text-gray-600 font-semibold' %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-sm", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :title, 'Give it a name or leave blank', class: 'text-gray-600 text-sm' %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-sm" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
