<%= form_with(model: [@project, link], class: "contents") do |form| %>
  <%= render "shared/errors", resource: link %>

  <div class="mt-5">
    <%= form.label :url, "Put your URL here", class: 'text-gray-600 dark:text-gray-400 font-semibold' %>
    <%= form.text_field :url, class: "block base-input mt-2 w-full", required: true %>
  </div>

  <div class="mt-5">
    <%= form.label :title, 'Give it a name or leave blank', class: 'text-gray-600 dark:text-gray-400 text-sm' %>
    <%= form.text_field :title, class: "block base-input mt-2 w-full" %>
  </div>

  <div class="mt-5">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
