<div id="<%= dom_id(comment) %>" class="border-t border-gray-200 dark:border-gray-800 py-3">
  <div class="flex">
    <div class="flex items-center">
      <%= avatar_tag(comment.user, "h-6 w-6 mr-2 rounded-full bg-gray-200 dark:bg-gray-800") %>
      <div class="text-sm text-gray-900 dark:text-gray-400 mr-3 font-semibold"><%= comment.user.email %></div>
      <div class="text-sm text-gray-600 dark:text-gray-400"><%= time_ago_short(comment.created_at) %></div>
    </div>
  </div>

  <div class="ml-8">
    <div class="text-sm text-gray-900 dark:text-gray-200 break-words">
      <%= comment.body %>
    </div>

    <% if comment.attachment.present? %>
      <div class="flex mt-1">
        <% if false #comment.image_attachment? %>
          <%= link_to comment.attachment.url do %>
            <img src="<%= comment.attachment.url %>" alt="Attachment" class="max-w-full h-auto">
          <% end %>
        <% else %>
          <%= link_to comment.attachment.url, class: "btn-gray", target: :blank do %>
            <div class="flex text-xs">
              <svg class="h-4 w-4 mr-1 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
              </svg>
              <%= comment.attachment.file.filename %>
              (<%= number_to_human_size comment.attachment.file.size %>)
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="">
  </div>
</div>
