<%= form_with(model: project, class: "contents") do |form| %>
  <%= render "shared/errors", resource: project %>

  <div class="mt-5">
    <%= form.label :name, class:"dark:text-gray-200" %>
    <%= form.text_field :name, required: true, autocomplete: 'off', class: "block base-input w-full mt-2" %>
  </div>

  <div class="mt-5">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
