<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="mt-5">
      <h2 class="mb-2 text-md font-semibold text-gray-900"><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul class="max-w-md text-sm space-y-1 text-gray-500 list-disc list-inside">
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
