<nav class="space-y-1" aria-label="Sidebar">
  <%= link_to "Files", project_files_path(@project), class: project_nav_class(current_page?(project_files_path(@project))) %>
  <%= link_to "Links", project_links_path(@project), class: project_nav_class(current_page?(project_links_path(@project))) %>

  <% unless @project.personal? %>
    <%= link_to "Team", project_users_path(@project), class: project_nav_class(current_page?(project_users_path(@project))) %>
    <%= link_to "Activity", project_activity_path(@project), class: project_nav_class(current_page?(project_activity_path(@project))) %>
  <% end %>

  <% if @project.user == current_user %>
    <%= link_to "Settings", edit_project_path(@project), class: project_nav_class(current_page?(edit_project_path(@project))) %>
  <% end %>
</nav>
