<nav class="space-y-1" aria-label="Sidebar">
  <%= link_to project_files_path(@project), class: project_nav_class(current_page?(project_files_path(@project))) do %>
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
      <span class="truncate">Files</span>
    </div>
    <span class="ml-auto inline-block py-0.5 px-2 text-xs rounded-full bg-gray-100 text-gray-600 dark:bg-gray-800 dark:text-gray-300">
      <%= @project.project_files.count %>
    </span>
  <% end %>

  <%= link_to project_links_path(@project), class: project_nav_class(current_page?(project_links_path(@project))) do %>
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
      </svg>
      <span class="truncate">Links</span>
    </div>
    <span class="ml-auto inline-block py-0.5 px-2 text-xs rounded-full bg-gray-100 text-gray-600 dark:bg-gray-800 dark:text-gray-300">
      <%= @project.links.count %>
    </span>
  <% end %>

  <% unless @project.personal? %>
    <%= link_to project_users_path(@project), class: project_nav_class(current_page?(project_users_path(@project))) do %>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <span class="truncate">Team</span>
      </div>
      <span class="ml-auto inline-block py-0.5 px-2 text-xs rounded-full bg-gray-100 text-gray-600 dark:bg-gray-800 dark:text-gray-300">
        <%= @project.team.count %>
      </span>
    <% end %>

    <%= link_to project_activity_path(@project), class: project_nav_class(current_page?(project_activity_path(@project))) do %>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
        </svg>
        <span class="truncate">Activity</span>
      </div>
    <% end %>
  <% end %>

  <% if @project.user == current_user %>
    <%= link_to edit_project_path(@project), class: project_nav_class(current_page?(edit_project_path(@project))) do %>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span class="truncate">Settings</span>
      </div>
    <% end %>
  <% end %>
</nav>
