<div class="resource-container">
  <ul role="list" class="resource-list">
    <li>
      <%= link_to project_notes_path(project), class: "block" do %>
        <div class="flex items-center justify-between gap-4">
          <h3 class="list-text-primary font-semibold">Notes</h3>
          <p class="text-sm text-muted"><%= pluralize(project.notes.count, 'note') %></p>
        </div>
      <% end %>
    </li>
    <% if file_storage_enabled? %>
      <li>
        <%= link_to project_files_path(project), class: "block" do %>
          <div class="flex items-center justify-between gap-4">
            <h3 class="list-text-primary font-semibold">Files</h3>
            <p class="text-sm text-muted"><%= pluralize(project.project_files.count, 'file') %></p>
          </div>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to project_links_path(project), class: "block" do %>
        <div class="flex items-center justify-between gap-4">
          <h3 class="list-text-primary font-semibold">Links</h3>
          <p class="text-sm text-muted"><%= pluralize(project.links.count, 'link') %></p>
        </div>
      <% end %>
    </li>
  </ul>
</div>
