<h1 class="my-8 text-gray-500 dark:text-gray-200 text-center">Project settings</h1>

<div class="mt-2 sm:mx-auto sm:w-full sm:max-w-md flex-grow">
  <div class="mb-2">
    <%= render "shared/flash" %>
  </div>

  <% unless @project.personal? %>
    <section class="mb-10">
      <h2 class="section-title">Project name</h2>

      <%= form_with(model: @project) do |form| %>
        <%= render "shared/errors", resource: @project %>

        <div>
          <%= form.text_field :name, required: true, class: "base-input w-full" %>
        </div>

        <div class="mt-5">
          <%= form.submit class: "btn-primary border border-violet-900" %>
        </div>
      <% end %>
    </section>
  <% end %>

  <section class="mb-10">
    <h2 class="section-title">Import and Export</h2>
    <p class="block text-sm text-gray-700 dark:text-gray-300 mb-5">
    Export your project data as a JSON file including all tasks and notes, then import it into another project.
    </p>

    <%= button_to "Export Tasks", project_export_path(@project, format: :json), method: :post, class: "btn-gray inline-block border", form: { 'data-turbo': 'false', class: 'inline-block' } %>
    <%= link_to "Import Tasks", new_project_import_path(@project), class: "btn-gray inline-block ml-2 border" %>
  </section>

  <section class="mb-10">
    <h2 class="section-title">Archive this project</h2>

    <% if @project.archived? %>
      <span class="block text-sm text-gray-700 dark:text-gray-300 mb-5">This project is archived. Unarchiving it will allow the creation of new tasks.</span>
      <%= button_to 'Unarchive', project_path(@project, project: { archived: false }), method: :patch, class: "btn-gray", data: { confirm: "Are you sure you want to unarchive this project?" } %>
    <% else %>
      <span class="block text-sm text-gray-700 dark:text-gray-300 mb-5">Archiving this project will prevent the creation of new tasks. This action is easily reversible.</span>
      <%= button_to 'Archive', project_path(@project, project: { archived: true }), method: :patch, class: "btn-gray", data: { confirm: "Are you sure you want to archive this project?" }  %>
    <% end %>
  </section>

  <section class="mb-10">
    <h2 class="section-title">Delete this project</h2>
    <span class="block text-sm text-gray-700 dark:text-gray-300 mb-5">Deleting this project will permanently erase all data.<br/> Please consider exporting tasks before proceeding.</span>
    <%= button_to "Delete this project", @project, method: :delete, data: { turbo_confirm: 'Remove the project? Are you sure?' }, class: "btn-remove border" %>
  </section>
</div>
