<div class="w-full">
  <% content_for :title, "Projects" %>


  <div class="flex justify-between items-center mb-4 pb-4 border-b dark:border-gray-600">
    <%= home_tabs "Projects" %>
    <%= link_to "New Project", new_project_path, class: "btn-primary block" %>
  </div>

  <div id="projects" class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
    <% if @pinned_projects.present? %>
      <div class="flex items-center justify-between gap-x-6 py-3 lg:py-5 md:col-span-2 lg:col-span-3">
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
        <span class="px-4 text-center dark:border-gray-600">Favorite Projects</span>
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
      </div>

      <% @pinned_projects.each do |project| %>
        <%= render project %>
      <% end %>

      <div class="flex items-center justify-between gap-x-6 py-3 lg:py-5 md:col-span-2 lg:col-span-3">
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
        <span class="px-4 text-center dark:border-gray-600">All Projects</span>
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
      </div>
    <% end %>

    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>

    <% if @archived_projects.any? %>
      <div class="flex items-center justify-between gap-x-6 py-3 lg:py-5 md:col-span-2 lg:col-span-3">
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
        <span class="px-4 text-center dark:border-gray-600">Archived</span>
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
      </div>

      <% @archived_projects.each do |project| %>
        <%= render project %>
      <% end %>

      <% if @archived_projects.total_pages > 1 %>
        <div class="flex items-center justify-between gap-x-6 py-3 lg:py-5 md:col-span-2 lg:col-span-3">
          <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
          <%= paginate @archived_projects %>
          <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
