<div>
  <% content_for :title, "Projects" %>

  <% content_for :subnav do %>
    <nav class="nav-container">
      <div class="flex flex-wrap nav-tabs">
        <%= home_tabs "Projects" %>
        <%= link_to "New Project", new_project_path, class: "btn-base" %>
      </div>
    </nav>
  <% end %>

  <%= display_flash %>

  <div>
    <div class="space-y-4">
      <% if @pinned_projects.present? %>
        <%= render 'shared/divider', text: 'Favorite Projects' %>
        <ul id="pinned-projects" role="list" class="projects-list">
          <% @pinned_projects.each do |project| %>
            <%= render project %>
          <% end %>
        </ul>
      <% end %>

      <% if @projects.present? %>
        <%= render 'shared/divider', text: 'All Projects' %>
        <ul id="projects" role="list" class="projects-list">
          <% @projects.each do |project| %>
            <%= render project %>
          <% end %>
        </ul>
      <% end %>

      <% if @archived_projects.any? %>
        <%= render 'shared/divider', text: 'Archived Projects' %>
        <ul id="archived-projects" role="list" class="projects-list">
          <% @archived_projects.each do |project| %>
            <%= render project %>
          <% end %>
        </ul>

        <% if @archived_projects.total_pages > 1 %>
          <div class="mt-4">
            <%= paginate @archived_projects %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
