<div>
  <%= render 'project/tasks/form', project: @project %>

  <% unless @tasks_todo.any? || @tasks_done.any? %>
    <div class="resource-empty-state">
      <h3 class="resource-empty-title">No tasks yet</h3>
      <p class="resource-empty-description">Create your first project task to get started.</p>
    </div>
  <% end %>

  <%= turbo_frame_tag "tasks", class: "mt-2 grid grid-cols-1 tasks-list" do %>
    <% @tasks_todo.each do |task| %>
      <%= render partial: "project/tasks/task", locals: { task: task } %>
    <% end %>
  <% end %>

  <% if @tasks_done.any? %>
    <div class="flex items-center justify-center my-5 text-sm">
      <span class="flex-grow border-t border-gray-300 dark:border-gray-900"></span>
      <span class="px-4 text-center text-gray-500 dark:text-gray-600">Completed</span>
      <span class="flex-grow border-t border-gray-300 dark:border-gray-900"></span>
    </div>
  <% end %>

  <%= turbo_frame_tag "completed_tasks", class: "mt-2 grid grid-cols-1 tasks-list" do %>
    <% if @tasks_done.any? %>
      <% @tasks_done.each do |task| %>
        <%= render partial: "project/tasks/task", locals: { task: task } %>
      <% end %>
    <% end %>
  <% end %>

  <% if @project.tasks.done.count > ProjectsController::DONE_TASKS %>
    <div class="my-4 text-center">
      <%= link_to completed_project_tasks_path(@project), class: "btn-base" do %>
        Show all completed tasks
      <% end %>
    </div>
  <% end %>
</div>
