<div class="space-y-4">
  <%= render 'project/tasks/form', project: @project %>

  <div class="resource-container">
    <%= link_to overview_project_path(@project), class: "block p-4 md:flex md:items-center md:justify-between" do %>
      <h3 class="resource-title"><%= file_storage_enabled? ? 'Notes, Files & Links' : 'Notes & Links' %></h3>
      <p class="text-sm text-muted mt-1 md:mt-0">
        <%= pluralize(@project.notes.count, 'note') %> ·
        <% if file_storage_enabled? %>
          <%= pluralize(@project.project_files.count, 'file') %> ·
        <% end %>
        <%= pluralize(@project.links.count, 'link') %>
      </p>
    <% end %>
  </div>

  <% unless @tasks_due.any? || @tasks_todo.any? || @tasks_done.any? %>
    <div class="resource-empty-state" id="no-tasks-message">
      <h3 class="resource-empty-title">No tasks yet</h3>
      <p class="resource-empty-description">Create your first project task to get started.</p>
    </div>
  <% end %>

  <% if @tasks_due.any? %>
    <div class="resource-container">
      <div class="resource-header">
        <h3 class="resource-title">Due dates</h3>
      </div>

      <div class="resource-list">
        <% @tasks_due.each do |task| %>
          <%= render partial: "project/tasks/task", locals: { task: task, show_due_date: true } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="resource-container">
    <%= turbo_frame_tag "tasks", class: "resource-list" do %>
      <% @tasks_todo.each do |task| %>
        <%= render partial: "project/tasks/task", locals: { task: task } %>
      <% end %>
    <% end %>
  </div>

  <% if @tasks_done.any? %>
    <%= render 'shared/divider', text: 'Completed' %>
  <% end %>

  <div class="resource-container">
    <%= turbo_frame_tag "completed_tasks", class: "resource-list" do %>
      <% if @tasks_done.any? %>
        <% @tasks_done.each do |task| %>
          <%= render partial: "project/tasks/task", locals: { task: task } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @project.tasks.done.count > ProjectsController::DONE_TASKS %>
    <div class="text-center">
      <%= link_to completed_project_tasks_path(@project), class: "btn-base" do %>
        Show all completed tasks
      <% end %>
    </div>
  <% end %>

</div>
