<div class="mb-4 text-black flex items-center justify-between space-x-6 text-sm">
  <%= content_tag :div, class: sub_subnav do %>
    <%= link_to "Active", project_path(@project), class: " #{current_page?(project_path(@project)) || current_page?(project_tasks_path(@project)) ? sub_subnav_active_tab : sub_subnav_tab }" %>
    <%= link_to "Upcoming", project_schedule_path(@project), class: " #{current_page?(project_schedule_path(@project)) ? sub_subnav_active_tab : sub_subnav_tab }" %>
    <%= link_to "Completed", completed_project_tasks_path(@project), class: " #{current_page?(completed_project_tasks_path(@project)) ? sub_subnav_active_tab : sub_subnav_tab }" %>
  <% end %>

  <div class="flex items-center ml-auto space-x-2 hidden md:flex">
    <%= link_to project_tasks_path(@project, assigned_user_id: @project.user_id), title: @project.user.email do %>
      <%= avatar_tag(@project.user, "h-8 w-8 rounded-full bg-violet-300 dark:bg-gray-800") %>
    <% end %>

    <% @project.users.each do |user| %>
      <%= link_to project_tasks_path(@project, assigned_user_id: user.id), title: user.email do %>
        <%= avatar_tag(user, "h-8 w-8 rounded-full bg-violet-300 dark:bg-gray-800") %>
      <% end %>
    <% end %>
  </div>
</div>
