<%= turbo_frame_tag dom_id(task) do %>
  <%= content_tag :div, class: task_css(task) do %>
    <div class="flex col-span-1 items-center h-12">
      <div class="mr-3 flex">
        <%= form_with(model: task, url: toggle_done_project_task_path(task.project, task), local: false, data: { turbo_frame: dom_id(task) }) do |form| %>

          <%= hidden_field_tag :status, params[:status] %>
          <%= hidden_field_tag :page, params[:page] %>

          <%= form.check_box :done,
            checked: task.done,
            id: "checkbox_task_#{task.id}",
            class: "w-4 h-4 checkbox",
            data: { turbo_action: "advance" },
            onchange: "this.form.requestSubmit()" %>
        <% end %>
      </div>

      <%= link_to details_project_task_path(task.project, task), data: { turbo: false }, class: "text-sm min-w-0 grow flex h-12 items-center dark:text-gray-200 " do %>
        <p class="font-medium text-gray-900 dark:text-gray-200 line-clamp-2"><%= task.name %></p>
      <% end %>


      <% unless task.done %>
        <div class="ml-2 flex-none text-right">
          <% if task.assigned_user_id %>
            <%= avatar_tag(task.assigned_user, "h-5 w-5 inline-block text-xs rounded-full text-gray-500 border border-gray-300 dark:border-gray-700") %>
          <% end %>

          <% if task.star %>
            <%= task_star_icon(task) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
