<%= turbo_frame_tag dom_id(task) do %>
  <%= content_tag :div, class: "border border-gray-100 dark:border-gray-800 shadow-sm dark:shadow-gray-800 rounded-md p-3 py-1.5 md:py-2 #{task.done ? 'bg-gray-100 dark:bg-gray-950 line-through dark:decoration-gray-100' : 'bg-gray-50 dark:bg-gray-900'}" do %>
    <div class="flex col-span-1 items-center h-12">
      <div class="mr-3 flex">
        <%= form_with(model: task, url: toggle_done_project_task_path(task.project, task), local: false, data: { turbo_frame: dom_id(task) }) do |form| %>

          <%= hidden_field_tag :status, params[:status] %>
          <%= hidden_field_tag :page, params[:page] %>

          <%= form.check_box :done,
            checked: task.done,
            id: "task_#{task.id}",
            class: "w-4 h-4 checkbox",
            data: { turbo_action: "advance" },
            onchange: "this.form.requestSubmit()" %>
        <% end %>
      </div>

      <%= link_to expand_project_task_path(task.project, task), data: { turbo: true }, class: "text-sm min-w-0 grow flex h-12 items-center dark:text-gray-200 " do %>
        <p class="font-medium text-gray-900 dark:text-gray-200 line-clamp-2"><%= task.name %></p>
      <% end %>

      <% if task.star && !task.done %>
        <div class="ml-2 flex-none mr-1 text-right">
          <%= task_star_icon(task) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
