<%= turbo_frame_tag dom_id(task) do %>
  <div id="<%= dom_id(task) %>" class="flex col-span-1 rounded-md border border-gray-200 shadow-sm p-3 items-center h-20 <%= 'bg-gray-50' if task.done %>">
    <div class="mr-2">
      <%= form_with(model: task, url: project_task_path(task.project, task), local: false, data: { turbo_frame: dom_id(task) }) do |form| %>
        <%= form.check_box :done,
          checked: task.done,
          id: "task_#{task.id}",
          class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2",
          data: { turbo_action: "advance" },
          onchange: "this.form.requestSubmit()" %>
      <% end %>
    </div>

    <div class="ml-2 text-sm w-0 flex-1">
      <%= link_to edit_project_task_path(task.project, task), data: { turbo: true } do %>
        <p class="text-xs font-normal text-gray-400 float-right"><%= time_ago_in_words(task.created_at).gsub('less than a minute', 'now') %></p>
        <p class="font-semibold text-gray-900 line-clamp-2"><%= task.name %></p>
        <p class="text-xs font-normal text-gray-900 line-clamp-1"><%= task.description %></p>
      <% end %>
    </div>
  </div>
<% end %>
