<div class="mt-6 md:mt-10 sm:mx-auto sm:w-full sm:max-w-md">
  <h1 class="text-xl font-bold leading-6 text-gray-900"><%= @task.name %></h1>

  <% if @task.description.present? %>
    <div class="text-base leading-6 text-gray-900 mt-2 prose max-w-none break-all"><%= simple_format @task.description %></div>
  <% end %>

  <% if @task.due_date.present? %>
    <p class="leading-6 text-gray-700 mt-2 font-medium">Due date at: <span><%= l(@task.due_date.to_date, format: :long) %></span></p>
  <% end %>

  <div class="my-4 text-sm text-gray-500 rounded-md border border-gray-400 p-4 bg-gray-50">
    <p>Status: <span class="font-medium"><%= @task.done ? 'Done' : 'Open' %></span></p>
    <p>Created by: <span class="font-medium"><%= @task.user.email %></span></p>
    <p>Created at: <span class="font-medium"><%= l(@task.created_at, format: :long) %></span></p>
    <p>Last updated at: <span class="font-medium"><%= l(@task.updated_at, format: :long) %></span></p>

    <% if @task.done && @task.done_at %>
      <p>Marked as done at: <span class="font-medium"><%= l(@task.done_at, format: :long) %></span></p>
    <% end %>
  </div>


  <div class="comments mt-4">
    <h3 class="font-semibold leading-6 text-gray-900">Comments</h3>

    <div class="mt-2">
      <%= render 'project/comments/comments' %>
    </div>

    <%= render 'project/comments/form' %>
  </div>
</div>
