<div class="w-full">
  <div class="mx-auto w-full">
    <div class="flex flex-col md:flex-row md:space-x-12 mt-10">
      <div class="mb-4 lg:mb-0 lg:w-2/3">
        <%= turbo_frame_tag dom_id(@task), data: { details: true } do %>
          <div class="mb-4 border-b pb-2 text-sm text-gray-600">
            <%= link_to project_task_path(@project, @task), class: "ml-2 float-right" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>
            <% end %>
            <%= link_to edit_project_task_path(@task.project, @task), data: { turbo: true }, class: '' do %>
              Edit
            <% end %>
            <%= link_to 'Open in a new tab', details_project_task_path(@project, @task), class: "ml-2", target: :_blank %>
          </div>

          <h1 class="text-2xl font-bold leading-6 text-gray-900"><%= @task.name %></h1>
          <div class="text-base leading-6 text-gray-900 mt-4 prose max-w-none"><%= simple_format @task.description %></div>


          <div class="comments mt-4">
            <h3 class="text-sm font-medium leading-6 text-gray-900">Comments</h3>

            <div class="mt-4">
              <%= render 'project/comments/comments' %>
            </div>

            <%= render 'project/comments/form' %>
          </div>
        <% end %>
      </div>
      <div class="mb-4 lg:mb-0 lg:w-1/3">
        <div class="text-sm text-gray-500 border-l border-gray-400 p-4">
          <p>Task ID: <span class="font-medium"><%= @task.id %></span></p>
          <p>Project ID: <span class="font-medium"><%= @task.project_id %></span></p>
          <p>Status: <span class="font-medium"><%= @task.done ? 'Done' : 'Open' %></span></p>
          <p>Created by: <span class="font-medium"><%= @task.user.email %></span></p>
          <p>Created at: <span class="font-medium"><%= l(@task.created_at, format: :long) %></span></p>
          <p>Last updated at: <span class="font-medium"><%= l(@task.updated_at, format: :long) %></span></p>

          <% if @task.done && @task.done_at %>
            <p>Marked as done at: <span class="font-medium"><%= l(@task.done_at, format: :long) %></span></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
