<%- task = @task %>

<div class="md:mt-6 sm:mx-auto sm:w-full sm:max-w-2xl">
  <div class="border border-gray-400 dark:border-gray-600 shadow-sm rounded-md bg-gray-50 dark:bg-gray-800">
    <%= form_with(model: [task.project, task], class: "contents", data: { turbo: turbo_frame_request? }) do |form| %>

      <div class="border-b border-b-violet-200 dark:border-b-gray-600 text-sm text-gray-700 dark:text-gray-300 flex items-center p-3 bg-violet-100 dark:bg-violet-900 rounded-t-md">
        <div class="flex-none">
          <h1 class="text-lg font-semibold text-violet-800 dark:text-violet-200">
            Edit task
          </h1>
        </div>

        <div class="grow mx-2 text-center">
        </div>

        <div class="flex-none">
          <%= link_to details_project_task_path(task.project, task), data: { turbo: false }, title: 'Cancel', class: 'ml-2 btn-small' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <% end %>
        </div>
      </div>

      <div class="p-3 border-b dark:border-gray-700">
        <%= render "shared/flash" %>

        <% if task.errors.any? %>
          <div id="ar-errors-text" data-turbo-cache="false" class="p-3 mb-3 bg-gray-50 rounded-md border">
            <%= render("project/tasks/form_errors", resource: task) %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: "text-sm text-gray-500" %>
          <%= form.text_area :name, class: "mt-1 block base-input w-full", required: true, rows: 2 %>
        </div>
      </div>

      <div class="p-3 border-b dark:border-gray-700">
        <%= form.label :done, class: "text-sm text-gray-500" do %>
          <%= form.check_box :done, class: "w-4 h-4 checkbox" %>
          Mark task as completed
        <% end %>
      </div>

      <div class="p-3 border-b dark:border-gray-700">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-3">
          <div class="">
            <%= form.label :due_date, class: "text-sm text-gray-500" %>
            <%= form.select :due_date, options_for_select(due_date_options(task.due_date)), {}, { class: "mt-1 block w-full base-input" } %>
          </div>

          <div class="">
            <%= form.label :assigned_user_id, class: "text-sm text-gray-500" %>
            <%= form.collection_select :assigned_user_id, task.project.team, :id, :email, { include_blank: "None" }, { class: "mt-1 block w-full base-input" } %>
          </div>
        </div>
      </div>

      <div class="p-3 border-b dark:border-gray-700">
        <% if @project.notes.any? %>
          <div class="mb-3">
            <%= form.label :note_id, class: "text-sm text-gray-500" %>
            <%= form.collection_select :note_id, task.project.notes, :id, :title, { include_blank: "None" }, { class: "mt-1 block w-full base-input" } %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :description, class: "text-sm text-gray-500" %>
          <%= form.text_area :description, class: "block base-input mt-1 w-full resize-y", rows: 5 %>
        </div>
      </div>

      <div class="p-3 rounded-b-md flex justify-between">
        <%= form.submit 'Save changes', class: "btn-primary" %>

        <div>
          <%= link_to "History of changes", changes_project_task_path(task.project, task), class: 'underline text-sm text-gray-500' %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="mt-7 border rounded-md p-3 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between">
      <div class="text-sm text-gray-500 py-2 hidden md:flex">
        Last updated: <%= l(task.updated_at, format: :long) %>
      </div>

      <%= button_to "Delete this task", [task.project, task], method: :delete, data: { turbo_confirm: 'Delete the task? Are you sure?', turbo: turbo_frame_request? }, class: "btn-remove border", form_class: "" %>
    </div>
  </section>
</div>
