<%= turbo_frame_tag dom_id(@task), data: { details: true } do %>
  <%= content_tag :div, class: "border border-gray-400 shadow-sm rounded-md" do %>
    <div class="border-b text-sm text-indigo-900 flex items-center p-3 bg-indigo-100 rounded-t-md">
      <%= link_to edit_project_task_path(@task.project, @task), data: { turbo: true }, class: 'flex-none', title: 'Edit' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
      <% end %>

      <div class="grow mx-2 text-center">
        <%= link_to details_project_task_path(@project, @task), class: "ml-2", data: { turbo: false } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
          </svg>
        <% end %>
      </div>

      <%= link_to project_task_path(@project, @task), class: "flex-none w-5" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
      <% end %>
    </div>

    <div class="p-3 mt-3">
      <h1 class="text-xl font-bold leading-6 text-gray-900 break-all"><%= @task.name %></h1>

      <% if @task.description.present? %>
        <div class="text-base leading-6 text-gray-900 mt-2 prose max-w-none break-all"><%= simple_format @task.description %></div>
      <% end %>

      <% if @task.due_date.present? %>
        <p class="leading-6 text-gray-700 mt-2 font-medium">Due date at: <span><%= l(@task.due_date.to_date, format: :long) %></span></p>
      <% end %>

    </div>

    <div class="mt-3 border-t text-sm text-gray-500 flex items-center p-3 bg-gray-50 rounded-b-md">
      <div class="comments w-full">
        <h3 class="font-medium leading-6 text-gray-700">Comments</h3>

        <div class="mt-2">
          <%= render 'project/comments/comments' %>
        </div>

        <%= render 'project/comments/form' %>
      </div>
    </div>
  <% end %>
<% end %>
