<div class="space-y-4">
  <% if params[:assigned_user_id].present? %>
    <div class="flex">
      <%= link_to "Tasks assigned to #{@project.find_user(params[:assigned_user_id])&.email} only", project_path(@project), class: "tab-active" %>
    </div>
  <% elsif !@project.archived? %>
    <%= render 'project/tasks/form', project: @project %>
  <% end %>

  <div id="new-tasks-section" class="resource-container">
    <%= turbo_frame_tag "new_tasks", class: "resource-list" %>
  </div>

  <div class="resource-container">
    <%= turbo_frame_tag "tasks", class: "resource-list" do %>
      <% @tasks.each do |task| %>
        <%= render partial: "project/tasks/task", locals: { task: task } %>
      <% end %>
    <% end %>
  </div>

  <%= paginate @tasks %>
</div>
