<div class="w-full">
  <div class="mb-4 md:mb-0 lg:w-2/3 mx-auto">
    <div class="flex flex-col md:flex-row md:space-x-12">
      <div class="mb-4 md:mb-0 md:w-full">
        <% if params[:assigned_user_id].present? %>
          <div class="flex">
            <%= link_to "Tasks assigned to #{@project.find_user(params[:assigned_user_id])&.email} only", project_path(@project), class: subnav_active_tab %>
          </div>
        <% else %>
          <%= render 'project/tasks/form', project: @project %>
        <% end %>

        <%= turbo_frame_tag "tasks", class: "mt-2 grid grid-cols-1 gap-1" do %>
          <% @tasks.each do |task| %>
            <%= render partial: "project/tasks/task", locals: { task: task } %>
          <% end %>
        <% end %>

        <%= paginate @tasks %>
      </div>
    </div>
  </div>
</div>
