<div class="w-full">
  <div class="">
    <div class="resource-container">
      <div class="resource-body">
        <% if params[:assigned_user_id].present? %>
          <div class="flex">
            <%= link_to "Tasks assigned to #{@project.find_user(params[:assigned_user_id])&.email} only", project_path(@project), class: ui_active_tab %>
          </div>
        <% else %>
          <%= render 'project/tasks/form', project: @project %>
        <% end %>

        <%= turbo_frame_tag "tasks", class: "mt-2 grid grid-cols-1 tasks-list" do %>
          <% @tasks.each do |task| %>
            <%= render partial: "project/tasks/task", locals: { task: task } %>
          <% end %>
        <% end %>

        <%= paginate @tasks %>
      </div>
    </div>
  </div>
</div>
