<div class="md:mt-6 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="border border-zinc-300 dark:border-zinc-600 shadow-sm rounded-md bg-zinc-100 dark:bg-zinc-800">
    <div class="border-b border-b-violet-200 dark:border-b-violet-600 text-sm text-gray-700 dark:text-gray-300 flex items-center p-3 bg-violet-100 dark:bg-violet-900 rounded-t-md">
      <div class="flex-none">
        <h1 class="text-lg font-semibold text-violet-800 dark:text-violet-200">New task</h1>
      </div>

      <div class="grow mx-2">
      </div>

      <div class="inline-block flex">
        <%= link_to collapse_task_path, class: "ml-2 btn-small", data: { turbo: true }, title: 'Back to tasks list' do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        <% end %>
      </div>
    </div>

    <div class="p-3 text-sm">
      <%= form_with(model: [@project, @task], class: "contents", data: { turbo: false }) do |form| %>
        <%= render "shared/errors", resource: @task %>

        <div class="mb-5">
          <%= form.label :name, class:"dark:text-gray-200" %>
          <%= form.text_area :name, rows: 2, class: "base-input block w-full", required: true %>
        </div>

        <div class="mb-5">
          <%= form.label :description, class:"dark:text-gray-200" %>
          <%= form.text_area :description, rows: 4, class: "base-input block w-full" %>
        </div>

        <div class="mb-5">
          <%= form.label :due_date, class: "dark:text-gray-200" %>
          <%= form.select :due_date, options_for_select(due_date_options(@task.due_date)), {}, { class: "block w-full base-input" } %>
        </div>

        <% unless @project.personal? %>
          <div class="mb-5">
            <%= form.label :assigned_user_id, class: "dark:text-gray-200" %>
            <%= form.collection_select :assigned_user_id, @project.team, :id, :email, { include_blank: "None" }, { class: "block w-full base-input" } %>
          </div>
        <% end %>

        <div class="inline">
          <%= form.submit class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
