<div class="md:mt-6 sm:mx-auto sm:w-full sm:max-w-md">
  <h1 class="font-bold text-2xl dark:text-gray-200">New task</h1>

  <%= form_with(model: [@project, @task], class: "contents", data: { turbo: false }) do |form| %>
    <%= render "shared/errors", resource: @task %>

    <div class="my-5">
      <%= form.label :name, class:"dark:text-gray-200" %>
      <%= form.text_area :name, rows: 2, class: "base-input block w-full", required: true %>
    </div>

    <div class="my-5">
      <%= form.label :description, class:"dark:text-gray-200" %>
      <%= form.text_area :description, rows: 4, class: "base-input block w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :due_date, class: "dark:text-gray-200" %>
      <%= form.select :due_date, options_for_select(due_date_options(@task.due_date)), {}, { class: "block w-full base-input" } %>
    </div>

    <% unless @project.personal? %>
      <div class="my-5">
        <%= form.label :assigned_user_id, class: "dark:text-gray-200" %>
        <%= form.collection_select :assigned_user_id, @project.team, :id, :email, { include_blank: "None" }, { class: "block w-full base-input" } %>
      </div>
    <% end %>

    <div class="inline">
      <%= form.submit class: "btn-primary" %>
    </div>
  <% end %>
</div>
