<div class="w-full lg:max-w-80 overflow-y-auto md:mr-6 md:border-r border-gray-200 dark:border-gray-700 pt-4">
  <div class="px-3 mb-4">
    <%= link_to new_project_note_path(@project), class: "flex items-center justify-center w-full btn-base", data: { turbo: false } do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 mr-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Add a new note
    <% end %>
  </div>

  <ul class="space-y-1">
    <% @project.notes.order(id: :desc).each do |note| %>
      <li class="border-l-2 <%= note.id == @note.id ? "#{theme_bg_subtle} #{theme_border_accent}" : 'border-transparent' %> transition-colors">
        <%= link_to edit_project_note_path(@project, note), class: "block p-3 text-gray-800 dark:text-gray-300 transition #{theme_text}" do %>
          <div class="text-sm font-medium truncate mb-1"><%= truncate(note.title, length: 50) %></div>
          <div class="text-xs text-gray-500 truncate dark:text-gray-400 pr-3"><%= note.content.present? ? truncate(note.content, length: 100) : '(No content)' %></div>
          <div class="text-xs text-gray-400 dark:text-gray-500 mt-1">
            <%= time_ago_in_words(note.updated_at) %> ago
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
