<div class="flex mx-auto w-full">
  <!-- Sidebar -->
  <%= render 'project/notes/sidebar' %>

  <!-- Main Content -->
  <div class="w-full md:w-2/3 p-4 overflow-y-auto">
    <%= form_with(model: [@project, @note], class: "contents", data: { controller: "local-storage", document_id: @note.id }) do |form| %>
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg text-gray-900 dark:text-gray-200">
          Edit mode
        </h2>

        <div class="flex items-center gap-2 ml-auto dark:text-gray-400">
          <%= form.submit 'Save Changes', class: "btn-small" %>
          <%= link_to [@project, @note], class: 'btn-small', title: 'Exit' do %>
            Exit
          <% end %>
        </div>
      </div>

      <%= render "shared/flash" %>
      <%= render "shared/errors", resource: @note %>

      <div class="mt-2">
        <div class="mb-4">
          <%= form.text_field :title, class: "block base-input mt-2 w-full text-lg font-semibold" %>
        </div>

        <div>
          <%= form.text_area :content, data: { local_storage_target: "textarea" }, rows: 20, class: "block base-input mt-2 w-full bg-yellow-50 dark:bg-gray-800", required: true %>
        </div>
      </div>

      <!-- Footer -->
      <div class="mt-5 text-sm text-gray-500 justify-between flex">
        <p>Last updated: <%= l(@note.updated_at, format: :long) %></p>
        <%= link_to "History of changes", history_project_note_path(@project, @note), class: 'underline' %>
      </div>
    <% end %>
  </div>
</div>
