<div class="flex flex-col-reverse md:flex-row mx-auto w-full -mt-4">
  <!-- Sidebar -->
  <%= render 'project/notes/sidebar' %>

  <!-- Main Content -->
  <div class="w-full md:w-2/3 py-4 overflow-y-auto">
    <%= form_with(model: [@project, @note], class: "contents", data: { controller: "local-storage", document_id: @note.id }) do |form| %>
      <div class="flex items-center justify-between mb-4 text-sm">
        <%= link_to history_project_note_path(@project, @note), class: 'underline dark:text-gray-400' do %>
          <p>Last updated: <%= l(@note.updated_at, format: :long) %></p>
        <% end %>
        <div class="flex items-center gap-2 ml-auto dark:text-gray-400">
          <% if flash[:notice].present? %>
            <div
             data-controller="hide-div"
             class="py-2 px-3 text-sm text-green-700 dark:text-green-300" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <%= form.submit 'Save Changes', class: "btn-gray ml-2" %>
        </div>
      </div>

      <%= render "shared/errors", resource: @note %>

      <div class="mt-2 p-2 bg-yellow-50 dark:bg-gray-800 shadow-sm">
        <div>
          <%= form.text_field :title, class: "block w-full text-lg font-semibold border-none bg-transparent outline-none focus:ring-0 focus:outline-none dark:text-yellow-600", required: true %>
        </div>

        <div>
          <%= form.text_area :content, data: { local_storage_target: "textarea" }, rows: 24, class: "block w-full border-none bg-transparent outline-none focus:ring-0 focus:outline-none dark:text-yellow-600" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
