<%= content_tag :div, class: task_css(task) do %>
  <div class="flex col-span-1 items-center h-12">
    <div class="mr-3 flex">
      <%= form_with(model: task, url: toggle_done_project_task_path(task.project, task), local: false, data: { turbo: false }) do |form| %>

        <%= form.check_box :done,
          checked: task.done,
          id: "task_#{task.id}",
          class: "w-5 h-5 checkbox-round flex",
          data: { turbo_action: "advance" },
          onchange: "this.form.requestSubmit()" %>
      <% end %>
    </div>

    <%= link_to details_project_task_path(task.project, task), data: { turbo: false }, class: "text-sm min-w-0 grow flex h-12 items-center" do %>
      <p class="font-medium line-clamp-2"><%= task.name %></p>
    <% end %>

    <% if task.due_date %>
      <div class="flex items-center space-x-1 text-xs text-gray-500 ml-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <time datetime="<%= task.due_date %>"><%= I18n.l(task.due_date.to_date, format: :short) %></time>
      </div>
    <% end %>
  </div>
<% end %>
