<%= content_tag :div, class: task_css(task) do %>
  <div class="flex col-span-1 items-center h-12">
    <div class="mr-3 flex">
      <%= form_with(model: task, url: toggle_done_project_task_path(task.project, task), local: false, data: { turbo: false }) do |form| %>

        <%= form.check_box :done,
          checked: task.done,
          id: "task_#{task.id}",
          class: "w-5 h-5 checkbox-round flex",
          data: { turbo_action: "advance" },
          onchange: "this.form.requestSubmit()" %>
      <% end %>
    </div>

    <%= link_to details_project_task_path(task.project, task), data: { turbo: false }, class: "text-sm min-w-0 grow flex h-12 items-center" do %>
      <p class="font-medium line-clamp-2"><%= task.name %></p>
    <% end %>

    <div class="ml-2 flex-none mr-1">
      <time datetime="<%= task.due_date %>" class=""><%= I18n.l(task.due_date.to_date, format: :short) %></time>
    </div>
  </div>
<% end %>
