<div class="w-full">
  <div class="mb-4 md:mb-0">
    <div class="flex flex-col md:flex-row md:space-x-12">
      <div class="mb-4 md:mb-0 md:w-full">
        <section class="mt-2">
          <h2 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-200"><%= Date.current.strftime("%B") %></h2>
          <% if @tasks_due_this_month.any? %>
            <ol class="mt-2 text-sm leading-6 text-gray-500 tasks-list">
              <% @tasks_due_this_month.each do |task| %>
                <%= render 'project/schedule/task', task: task %>
              <% end %>
            </ol>
          <% else %>
            <div class="text-sm py-3">
              <p class="">No tasks due this month.
              <%= link_to 'Assign some random tasks?', saturate_project_schedule_path(@project, month: Date.current.strftime("%Y-%m")), method: :post, data: { turbo_method: :post }, class: "text-violet-600 ml-1" %>
              </p>
            </div>
          <% end %>
        </section>

        <section class="mt-8">
          <h2 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-200"><%= Date.current.next_month.strftime("%B") %></h2>
          <% if @tasks_due_next_month.any? %>
            <ol class="mt-2 text-sm leading-6 text-gray-500 tasks-list">
              <% @tasks_due_next_month.each do |task| %>
                <%= render 'project/schedule/task', task: task %>
              <% end %>
            </ol>
          <% else %>
            <div class="text-sm py-3">
              <p class="">No tasks due next month.</p>
            </div>
          <% end %>
        </section>

        <section class="mt-8">
          <h2 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-200"><%= Date.current.next_month.next_month.strftime("%B") %></h2>
          <% if @tasks_due_month_after_next.any? %>
            <ol class="mt-2 text-sm leading-6 text-gray-500 tasks-list">
              <% @tasks_due_month_after_next.each do |task| %>
                <%= render 'project/schedule/task', task: task %>
              <% end %>
            </ol>
          <% else %>
            <div class="text-sm py-3">
              <p class="">No tasks due <%= Date.current.next_month.next_month.strftime("%B") %>.</p>
            </div>
          <% end %>
        </section>

        <% if @tasks_past_due.any? %>
          <section class="mt-8 border-t border-gray-200 dark:border-gray-700 pt-6">
            <h2 class="text-base font-semibold leading-6 text-red-700 dark:text-red-400">Older Tasks</h2>
            <ol class="mt-2 text-sm leading-6 text-gray-500 tasks-list">
              <% @tasks_past_due.each do |task| %>
                <%= render 'project/schedule/task', task: task %>
              <% end %>
            </ol>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>
