<div class="w-full">
  <%= project_tabs 'Schedule' %>

  <section class="mt-8">
    <h2 class="text-base font-semibold leading-6 text-gray-900">Today</h2>
    <ol class="mt-2 divide-y divide-gray-200 text-sm leading-6 text-gray-500">
      <% if @tasks_due_today.any? %>
        <% @tasks_due_today.each do |task| %>
          <%= render 'project/schedule/task', task: task %>
        <% end %>
      <% else %>
        <li class="py-4 sm:flex">
          <p class="mt-2 flex-auto sm:mt-0">No tasks due today.</p>
        </li>
      <% end %>
    </ol>
  </section>

  <section class="mt-8">
    <h2 class="text-base font-semibold leading-6 text-gray-900">This Week</h2>
    <ol class="mt-2 divide-y divide-gray-200 text-sm leading-6 text-gray-500">
      <% if @tasks_due_this_week.any? %>
        <% @tasks_due_this_week.each do |task| %>
          <%= render 'project/schedule/task', task: task %>
        <% end %>
      <% else %>
        <li class="py-4 sm:flex">
          <p class="mt-2 flex-auto sm:mt-0">No tasks due this week.</p>
        </li>
      <% end %>
    </ol>
  </section>

  <section class="mt-8">
    <h2 class="text-base font-semibold leading-6 text-gray-900">This Month</h2>
    <ol class="mt-2 divide-y divide-gray-200 text-sm leading-6 text-gray-500">
      <% if @tasks_due_this_month.any? %>
        <% @tasks_due_this_month.each do |task| %>
          <%= render 'project/schedule/task', task: task %>
        <% end %>
      <% else %>
        <li class="py-4 sm:flex">
          <p class="mt-2 flex-auto sm:mt-0">No tasks due this month.</p>
        </li>
      <% end %>
    </ol>
  </section>

  <section class="mt-8">
    <h2 class="text-base font-semibold leading-6 text-gray-900">This Year</h2>
    <ol class="mt-2 divide-y divide-gray-200 text-sm leading-6 text-gray-500">
      <% if @tasks_due_this_year.any? %>
        <% @tasks_due_this_year.each do |task| %>
          <%= render 'project/schedule/task', task: task %>
        <% end %>
      <% else %>
        <li class="py-4 sm:flex">
          <p class="mt-2 flex-auto sm:mt-0">No tasks due this year.</p>
        </li>
      <% end %>
    </ol>
  </section>
</div>
