<div class="md:mt-6 sm:mx-auto sm:w-full sm:max-w-md">
  <h1 class="font-bold text-2xl dark:text-gray-200">Add user to the project</h1>

  <div class="mt-3">
    <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">
      The user must have an account in the application to be added to the project.
    </p>
  </div>

  <%= form_with url: add_member_project_users_path(@project), method: :post, class: "space-y-6 contents" do |form| %>
    <%= render "shared/flash" %>

    <div class="form-group">
      <%= form.label :email, "User Email", class: "block text-sm font-medium text-gray-700 dark:text-gray-300" %>
      <%= form.email_field :email, required: true, class: "block base-input w-full mt-2" %>
    </div>

    <div class="form-group">
      <%= form.submit "Add user", class: "btn-primary" %>
    </div>
  <% end %>
</div>
