<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">Invite Team Member</h1>
        <p class="resource-description">
          The user must have an account in the application to be added to the project.
        </p>
      </div>
    </div>

    <div class="p-4">
      <%= form_with url: add_member_project_users_path(@project), method: :post, class: "space-y-6" do |form| %>
        <%= render "shared/flash" %>

        <div>
          <%= form.label :email, "User Email", class: "block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2" %>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400 dark:text-gray-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>
            </div>
            <%= form.email_field :email, required: true, class: "block w-full base-input pl-10", placeholder: "user@example.com" %>
          </div>
        </div>

        <div class="pt-4 border-t border-gray-200 dark:border-gray-700">
          <%= form.submit "Add team member", class: theme_button_primary %>
        </div>
      <% end %>
    </div>
  </div>
</div>
