<div class="my-5">
  <table class="min-w-full bg-white border text-sm">
    <thead>
      <tr>
        <th class="px-4 py-2 border">ID</th>
        <th class="px-4 py-2 border">Email</th>
        <th class="px-4 py-2 border">Projects</th>
        <th class="px-4 py-2 border">Tasks</th>
        <th class="px-4 py-2 border">Created At</th>
        <th class="px-4 py-2 border">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="odd:bg-gray-100 even:bg-white">
          <td class="px-4 py-2 border"><%= user.id %></td>
          <td class="px-4 py-2 border"><%= user.email %></td>
          <td class="px-4 py-2 border"><%= user.projects.count %></td>
          <td class="px-4 py-2 border"><%= user.tasks.count %></td>
          <td class="px-4 py-2 border"><%= user.created_at.to_formatted_s(:short) %></td>
          <td class="px-4 py-2 border"><%= user.updated_at.to_formatted_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <%= paginate @users %>
</div>
