<div class="mb-4">
  <dt class="text-sm font-medium leading-7 text-gray-900 dark:text-gray-200 mb-2 pb-2 border-b dark:border-gray-800">Users</dt>
  <ul role="list">
    <li class="flex justify-between py-2 px-4">
      <div class="flex min-w-0 gap-x-4">
        <%= avatar_tag(@project.user, "h-6 w-6 flex-none rounded-full bg-gray-200 dark:bg-gray-800") %>
        <div class="min-w-0 flex-auto">
          <p class="text-sm leading-6 text-gray-600 dark:text-gray-400"><%= link_to @project.user.email, project_tasks_path(@project, assigned_user_id: @project.user_id) %></p>
        </div>
      </div>
    </li>

    <% @project.users.each do |user| %>
      <li id="project_<%= dom_id user %>" class="flex justify-between py-2 px-4">
        <div class="flex min-w-0 gap-x-4">
          <%= avatar_tag(user, "h-6 w-6 flex-none rounded-full bg-gray-200 dark:bg-gray-800") %>
          <div class="min-w-0 flex-auto">
            <p class="text-sm leading-6 text-gray-600 dark:text-gray-400"><%= link_to user.email, project_tasks_path(@project, assigned_user_id: user.id) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
