<!DOCTYPE html>
<html class="<%= html_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="body-color" data-controller="sidebar">
    <%= render 'layouts/header_mobile' %>
    <%= render 'layouts/sidebar' %>

    <div class="page-content">
      <div class="nav-container">
        <div class="nav-title">
          <%= link_to admin_path do %>
            <div class="flex items-start gap-x-3">
              <div class="nav-title-link">
                <span>Admin area</span>
              </div>
            </div>
          <% end %>
        </div>

        <div class="flex nav-controls">
          <%= admin_tabs @tab_name %>
        </div>
      </div>

      <main class="main-container">
        <div class="content w-full">
          <%= display_flash %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
