<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='<%= body_color %>'>
    <%= render 'layouts/header_compact' %>

    <nav class="bg-white dark:bg-gray-900">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4 py-4 pb-1">
        <%= link_to admin_path do %>
          <div class="flex items-start gap-x-3">
            <div class="font-medium leading-6 text-base">
              <span>Admin area</span>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <%= yield :subnav %>

    <main class="container mx-auto max-w-screen-md p-4 flex">
      <div class="mx-auto w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
