<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='<%= body_color %>'>
    <nav class="<%= nav_color %>">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4">
        <%#= render 'layouts/nav/home_link' %>
        <%= link_to 'MicroProject.app', root_path, class: "flex items-center h-12 my-2 font-semibold" %>

        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <%= render 'layouts/nav/user' %>
        </div>
      </div>
    </nav>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <%= yield %>
    </main>
  </body>
</html>
