<!DOCTYPE html>
<html>
  <head>
    <title>MicroProject.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-50">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 py-3">
        <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
          <span class="self-center text-xl whitespace-nowrap "><%= formatted_date Date.today %></span>
        <% end %>
        <%#= link_to "New project", new_project_path, class: "text-sm px-4 py-1 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100" %>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <% if current_user %>
            <%= link_to edit_registration_path(current_user) do %>
              <%= gravatar_tag(current_user.email, "h-6 w-6 flex-none rounded-full bg-gray-50") %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-sm  text-gray-500  hover:underline' %>
          <% else %>
            <%= link_to 'Login', new_session_path, class: 'text-sm text-blue-600 hover:underline' %>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <%= yield %>
    </main>
  </body>
</html>
