<!DOCTYPE html>
<html>
  <head>
    <title>MicroProject.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <nav class="bg-gray-100 dark:bg-gray-900">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4">
        <%= render 'layouts/home_link' %>

        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <%= render 'layouts/user' %>
        </div>
      </div>
    </nav>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <%= yield %>
    </main>
  </body>
</html>
