<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='<%= body_color %>'>
    <%= render 'layouts/project_nav' %>

    <div class="mt-4 pb-4 <%= subnav_color %>">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4">
        <div class="flex flex-grow items-center">
          <%= project_tabs "Tasks" %>
        </div>

        <%= render 'layouts/project_buttons' %>
      </div>
    </div>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <div class="w-full">
        <div class="mb-4 md:mb-0 lg:w-2/3 mx-auto">
          <div class="flex flex-col md:flex-row md:space-x-12">
            <div class="mb-4 md:mb-0 md:w-full">
              <%= render 'project/tasks/nav' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
