<!DOCTYPE html>
<html>
  <head>
    <title>MicroProject.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-50">
      <ol role="list" class="mx-auto flex w-full max-w-screen-xl space-x-4 px-4">
        <li class="flex">
          <%= link_to root_path, class: "flex items-center pr-2" do %>
            <span class="hidden md:1inline font-medium">Projects</span>

            <svg class="h-5 w-5 flex-shrink-0 md:1hidden" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <svg class="h-full w-6 flex-shrink-0 text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
          </svg>
        </li>
        <li class="flex">
          <%= render 'projects/project', project: @project %>
        </li>
      </ol>
    </nav>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <%= yield %>
    </main>
  </body>
</html>

