<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='<%= body_color %>'>
    <%= render 'layouts/project_header' %>
    <%= render 'layouts/project_subnav' %>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <div class="w-full">
        <div class="mb-4 md:mb-0 lg:w-2/3 mx-auto">
          <div class="flex flex-col md:flex-row md:space-x-12">
            <div class="mb-4 md:mb-0 md:w-full">
              <%#= render 'project/tasks/nav' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
