<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='body-color'>
    <%= render 'layouts/header_compact' %>

    <nav class="bg-base">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4 py-4 pb-1">
        <%= link_to users_settings_path do %>
          <div class="flex items-start gap-x-3">
            <div class="font-medium leading-6 text-base">
              <span><%= current_user.email %></span>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="title-subnav">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4">
        <%= users_tabs @tab_name %>
      </div>
    </div>

    <main class="container mx-auto max-w-screen-md p-4 flex">
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
