<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="body-color">
    <%= render 'layouts/header_compact' %>
    <%= render 'layouts/sidebar' %>

    <div class="page-content">
      <%= render 'layouts/user_nav' %>

      <main class="main-container">
        <div class="content w-full">
          <%= display_flash %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
