<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='<%= body_color %>'>
    <%= render 'layouts/header_compact' %>

    <nav class="nav-border">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 py-4">
        <%= link_to users_settings_path do %>
          <div class="flex items-start gap-x-3">
            <div class="font-medium leading-6 text-base">
              <span><%= current_user.email %></span>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <%= yield :subnav %>

    <main class="container mx-auto max-w-lg p-4 flex">
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
