<!DOCTYPE html>
<html>
  <head>
    <title>MicroProject.app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-100">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4">
        <ol role="list" class="flex space-x-4">
          <li class="flex">
            <%= render 'layouts/home_link' %>
          </li>
          <li class="flex">
            <%= render 'layouts/separator' %>

            <div class="flex items-center justify-between gap-x-6 ml-4">
              <div class="min-w-0">
                <%= link_to edit_user_registration_path(current_user)do %>
                  <div class="flex items-start gap-x-3">
                    <div class="font-semibold leading-6 text-gray-900 text-base">
                      <span>User account</span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        </ol>
        <div class="flex items-center space-x-6 rtl:space-x-reverse hidden md:flex">
          <%= render 'layouts/user' %>
        </div>
      </div>
    </nav>

    <main>
      <div class="mx-auto w-full max-w-lg px-4">
        <div class="my-5">
          <%= link_to 'Settings', users_settings_path, class: "btn-tab" %>
          <%= link_to 'Email and password', edit_registration_path(current_user), class: "btn-tab" %>
        </div>

        <%= render "shared/flash" %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
